body {
  margin: 0 auto 100px auto;
  background-color: #e5e5e5;
  max-width: 754px;

  /* ! its have to be font 'Open Sans' */
  font-family: "Roboto", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
@keyframes js-loading {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
header *.js-loading {
  animation: js-loading 1s infinite;
  transition: all 1.5s linear 0s;
}
@keyframes header-hover {
  from {
    left: 100%;
  }
  to {
    right: 100%;
    margin-left: 0.5rem;
  }
}
header *:hover {
  animation: header-hover 0.1s alternate;
  transition: all 1.5s linear 0s;
}

main {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  font-weight: 400;
}

.transfers {
  width: 232px;
  height: 252px;
  /* border: 1px solid #4a4a4a; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  background-color: #fff;

  box-shadow: 0 0 5px #979797;
}

.transfers input {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: #000 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px #979797;
}
.transfers input:checked {
  transform: scale(1.3);
  border-color: #42a5f5;
}
.transfers input:checked::after {
  content: "\2713";
  font-weight: 700;
  color: #42a5f5;
  margin-top: -2px;
}
.transfers__var {
  display: flex;
  gap: 10px;
  align-items: center;
}

.transfers *:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1) translateX(10px);
  font-weight: 500;
}

.transfers :first-child {
  font-weight: 500;
  transition: none;
  transform: none;
}
.transfers * :last-child {
  transition: none;
  transform: none;
}

#transfers__button {
  height: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #979797;
  transform: translateY(0.5rem);
  display: flex;
  align-items: center;
}

#transfers__button:hover {
  transition: all 0.1s ease 0s;
  box-shadow: 4px 4px 5px #979797;
  border: #e5e5e5 1px solid;
}

#transfers__button:active {
  transition: all 0.1s ease 0s;
  border: #979797 3px solid;
  background-color: #979797;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 5px #979797;
}

.cards {
  width: 502px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__options {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;

  border-radius: 5px;
  box-shadow: 0 0 5px #979797;
}

.cards__options * {
  max-width: 33.333%;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__options *:hover {
  background-color: #42a5f5;
  color: #fff;
  box-shadow: 4px 4px 5px #979797;

  border-radius: 5px;
  border: solid 1px #dfe5ec;

  transition: all 0.3s ease 0s;
  transform: scale(1.1);

  font-weight: 700;
}

.cards__options :nth-child(2) {
  border-left: #dfe5ec 1px solid;
  border-right: #dfe5ec 1px solid;
}

.cards__top-space {
  height: 20px;
}
#cards__place {
  margin-top: -20px;
}

.cards__card {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 215px;

  display: grid;

  grid-template-areas:
    "price price logo"
    "price price logo"
    "taero tstat txtm"
    "tstrt troad txaer"
    "baero bstat bxtm"
    "bstrt broad bxaer"
    "space space info";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 15px);

  gap: 10px;

  border-radius: 5px;

  box-shadow: 0 0 5px #979797;
}

.cards__card :nth-child(2n-1) {
  color: #979797;
}
.cards__card :nth-child(2n) {
  font-weight: 500;
  margin-top: -5px;
}

/* 1st row */
.cards__price {
  grid-area: price;

  color: #42a5f5 !important;
  font-weight: 500;
  font-size: 1.5rem;
}
.cards__logo {
  grid-area: logo;

  margin-left: auto;
}
/* 2nd row */
.cards__there--aeroports {
  grid-area: taero;
}
.cards__there--status {
  grid-area: tstat;
}
.cards__there--cross-time {
  grid-area: txtm;
}
/* 3th row */
.cards__there--time-start {
  grid-area: tstrt;
}
.cards__there--time-on-road {
  grid-area: troad;
}
.cards__there--cross-aeroports {
  grid-area: txaer;
}
/* 4th row */
.cards__back--aeroports {
  grid-area: baero;
}
.cards__back--status {
  grid-area: bstat;
}
.cards__back--cross-time {
  grid-area: bxtm;
}
/* 5th row */
.cards__back--time-start {
  grid-area: bstrt;
}
.cards__back--time-on-road {
  grid-area: broad;
}
.cards__back--cross-aeroports {
  grid-area: bxaer;
}
.cards__more-info {
  grid-area: info;

  display: inline;
  width: 110px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #979797;

  background-color: #42a5f5;
  color: #fff !important;
}
@keyframes more-info-hover {
  from {
    background: steelblue;
  }
  to {
    transform: scale(1.4);
  }
}
.cards__more-info:hover {
  transition: all 0.7s ease-in-out 0s;
  animation: more-info-hover 0.3s infinite alternate;
  background-color: yellowgreen;
  font-weight: 700;
  border: 1px solid #dfe5ec;
  box-shadow: 10px 10px 5px #979797;
}

.cards__also-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #42a5f5;
  color: #fff;

  border-radius: 5px;
  box-shadow: 0 0 5px #979797;

  font-weight: 400;
}

.cards__also-show:hover {
  box-shadow: 4px 4px 5px #979797;

  border-radius: 5px;
  border: solid 1px #dfe5ec;

  transition: all 0.3s ease 0s;
  transform: scale(1.1);

  font-weight: 700;
}

@keyframes js-more-inf-parent {
  from {
    position: fixed;
    left: 0;
    top: 50%;
    transform: scale(0);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}
.js-more-inf-parent {
  z-index: 999;

  animation: 1s js-more-inf-parent;
  background-color: #fff;
  transition: all 0.7s ease 0s;
  position: fixed;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  width: 85vw;
  height: 85%;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  font-size: 1.7vw;
  padding: 3vw;

  border-radius: 3vw;
  border: 3vw #fffdd0 double;

  box-shadow: 2vw 2vw 2vw #979797;
}
.js-more-inf-parent :first-child {
  color: #42a5f5;
  font-weight: 700;
  font-size: 3vw;
}
.js-more-inf-parent :nth-child(2) {
  color: #979797;
  font-weight: 400;
}
.js-more-inf-parent :nth-child(3) {
  color: #000;
  font-weight: 400;
}
.js-more-inf-parent button {
  position: fixed;
  bottom: 10%;
  background-color: #42a5f5;
  color: #fff;
  align-self: flex-end;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #979797;
  justify-content: end;
}

.js-more-inf-parent button:hover {
  border: solid 1px #dfe5ec;
  transition: all 0.3s ease 0s;
  box-shadow: 9px 9px 5px #979797;
  transform: scale(1.5);
}
.js-more-inf-body {
  position: absolute; 
  left: 25%;
  overflow: hidden;
}
#js-blur {
  position: fixed;
  left: 0;
  top: 0;
  filter: alpha(opacity=50);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}
@keyframes js-fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.js-fade-out {
  animation: js-fade-out 0.7s ease;
}
